html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html {
  position: relative;
}
body {
  position: absolute;
  /* background source https://github.com/Apricity-OS/apricity-wallpapers/blob/master/backgrounds/apricity/default.jpg */
  background: url("./default.jpg");
  font-family: "Liberation Sans Narrow", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}
h1 {
  font-size: 4em;
  text-align: center;
  color: #fff;
  /* text-decoration: underline; */
  text-shadow: 2px 2px 10px #53467b;
}
